
.keyboard {
    width: 80%;
    height: auto;
    margin: 20px auto;
    .rotate {
        width: 24%;
        float: right;
        background: pink;
        border-radius: 500px;
        &:after {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
 }